<p>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員ではない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</p>


<div>
  <h1>新着商品</h1>
  <ul>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <a href ="/items">すべての商品を見る</a>
</div>